body{
  height: 700px;
  opacity: 95%;
}
#backgroundPic{
  position: fixed;
  right: 0;
  left: 0;
  border-radius: 0px !important;
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  background-size: cover !important;
}
img {
    width: 40px;
    border-radius: 10px;
}
li {
    display: inline;
      
}
footer ul li a :hover{
  width: 60px;
}
ul {
    position: absolute;
  right: 3%;
  bottom: 0%;
}
#circlPhone {
    border-radius: 50%;
    margin-left: 20px;
    transition: width 1s;
}
.contactIcon {
    margin-left: 20px;
    transition: width 1s;
  }
a{
    font-family: 'Ranchers', cursive;
    display: justify;   
    
    
}
p {
  font-family: 'Josefin Sans', sans-serif;

}
#catchIt {
    font-size: 50px;
    color: rgb(247, 212, 164);
    position: absolute;
    font-weight: 900;
  top: 45%;
  right: 60%;
  z-index: 2;
  width: 500px;
  word-spacing: 10pt;
  text-align: center;
  /* margin-right: 50px; */

    
}
#locationPin {
    width: 200px;
    position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  clip-path: circle(41%);
    
  
}
#logoImg {
    border-radius: 50%;
    position: absolute;
  left: 7%;
  top: 6%;
  width: 100px;

}
#top-nav {
    font-size: 40px;
    color: rgb(247, 212, 164);
    position: absolute;
    top: 7%;
    right: 3%;
    opacity: 90%;
    width: 200px;
    transition: width 1s;
    
}
#top-nav:hover{ 
  width: 230px;
  /* height: 300px; */
}

#catchIt button{
  background-color: rgba(128, 128, 128, 0);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: -1000px;
  margin-right: 0px;
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 700;
  
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.41);
  /* box-shadow: 0 3px 0 0 #383838;
  border:3px solid transparent; */
  

  animation: pulse 1s linear infinite alternate;
  -webkit-animation: pulse 1s linear infinite alternate;
}
#catchIt button:active {
  background-image: linear-gradient(rgba(0,0,0,.1) 13%, transparent 13%,transparent);
			box-shadow: 0 1px 0 0 #383838;
			color: rgba(0, 0, 0,.45);
			text-shadow: none;
			
			
			-webkit-animation-play-state: paused; 
    	animation-play-state: paused;
}
@-webkit-keyframes pulse {
  100% {
    transform: translateY(15px); 
  } 
}

@keyframes pulse {
  100% {
    transform: translateY(15px); 
  } 
}
#catchIt button:hover{
  -webkit-animation-play-state: paused; 
  animation-play-state: paused;

}

span {
  background-color: rgba(128, 128, 128, 0);
  border: rgb(150, 145, 145);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Ranchers', cursive;
  color: rgb(150, 64, 36);
}
#catchItSpan {
  background-color: rgba(128, 128, 128, 0);
  border: rgb(150, 145, 145);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  margin: 4px 2px;
  font-family: 'Ranchers', cursive;
  color: rgb(150, 64, 36);
}
#catchIt img {
margin-left: -40px;
width: 100px;
margin-bottom: -40px;
}