/* for the back arrow */

.container {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: -80px;
    font-weight: bolder;
    font-size: larger;
}
ul li {
    margin: 0 0 24px;
    
}
.the-arrow {
    width: 64px;
    transition: all 0.2s;
}
.the-arrow.-left {
    position: absolute;
    top: 60%;
    left: 0;
}
.the-arrow.-left > .shaft {
    width: 0;
    background-color: #999;
}
.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
    width: 0;
    background-color: #999;
}
.the-arrow.-left > .shaft:before {
    transform: rotate(150deg);
    left: -6px;
}
.the-arrow.-left > .shaft:after {
    transform: rotate(-150deg);
    left: -6px;

}
.the-arrow.-right {
    top: 3px;
}
.the-arrow.-right > .shaft {
    width: 64px;
    transition-delay: 0.2s;
}
.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}
.the-arrow.-right > .shaft:before {
    transform: rotate(150deg);
    left: -6px;

}
.the-arrow.-right > .shaft:after {
    transform: rotate(-150deg);
    left: -6px;

}
.the-arrow > .shaft {
    background-color: #999;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}
.the-arrow > .shaft:before, .the-arrow > .shaft:after {
    background-color: #999;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}
.the-arrow > .shaft:before {
    transform-origin: top right;
}
.the-arrow > .shaft:after {
    transform-origin: bottom right;
}
.animated-arrow {
    display: inline-block;
    color: #999;
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}
.animated-arrow:hover {
    color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .the-arrow.-left > .shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: #eaeaea;
}
.animated-arrow:hover > .the-arrow.-left > .shaft:before {
    transform: rotate(150deg);
}
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
    transform: rotate(-150deg);
}
.animated-arrow:hover > .main {
    transform: translateX(80px);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
    transform: rotate(0);
}
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
    transform: rotate(0);
}
.animated-arrow > .main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.animated-arrow > .main > .text {
    margin: 0 16px 0 0;
    line-height: 1;
}
.animated-arrow > .main > .the-arrow {
    position: relative;
}
 /* the end of arrow design */

 body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
table  {
    display: inline-block;
    margin: 15px;
    text-align: center;
    font-weight: bold;
    /* position: absolute;
    top: 7%;
    right: 3%; */

    
}
table input {
    background-color: gray;
    width: 30px;
    font-weight: bold;
}



#productDetails div {
   
    /* opacity: 50%; */
    background-color: rgba(255, 235, 205, 0.308);
    margin-top: 50px;
} 
#top-nav {
    font-size: 40px;
    color:wheat;
    position: absolute;
    top: 7%;
    right: 3%;
    opacity: 90%;
    width: 200px;
    text-decoration: none;
}
#logoImg {
    border-radius: 50%;
    position: absolute;
  left: 45%;
  top: 10%;
  width: 100px;

}
#top-nav:hover {
    color:rgb(184, 119, 55);
}
th a {
text-align: left;
margin: 30px;
line-height:20px;
text-decoration: none;
color:rgb(143, 97, 13) ;
font-size: 25px;
transition: linear .21s;


}
th a:hover{
    color:wheat;
    font-weight: bolder;

}
#productType{
    margin-top: 15%; 
}
#background{
        position: fixed;
        right: 0;
        left: 0;
        border-radius: 0px !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        background-size: cover !important;  
}
button{
    border-radius: 35%;
    color: wheat;
    background-color:rgba(187, 133, 33, 0.185);
}
 tr img{
    border-radius: 30%;
}
#minCart a{
 position: relative;
 left:800px;
 text-decoration: none;
 color: black;
 
}
#minCart a span{
  position: relative;
  top: -6px;
  left: -10px;
}

