table  {
    display: inline-block;
    margin: 15px;
    text-align: center;
    font-weight: bold;
    
}
table input {
    background-color: gray;
    width: 30px;
    font-weight: bold;
}


#productDetails div {
    border: 1px dotted;
} 