
a{
    font-family: 'Ranchers', cursive;
    display: justify;   
    
    
}

#logoImg {
    border-radius: 50%;
    position: absolute;
  left: 45%;
  top: 10%;
  width: 150px;

}
#top-nav {
    font-size: 40px;
    color: burlywood;
    position: absolute;
    top: 11%;
    left: 5%;
    opacity: 90%;
    width: 200px;
}
#left-arrow{
width: 60px;
}

#orderForm{
    position: absolute;
    bottom: 80px;
    left:500px ;
}

input{
    display: block;
}
#orderCart{
    position: absolute;
    bottom: 60%;
    left: 10%;
}
#orderCart{
    width: 300px;
    height: 50%;
    overflow: scroll;
  padding-left: 15px;
  margin-left: 5px;
  float: left;
  font-style: italic;
  background-color: lightgray;
  position: absolute;
  top: 30%;
  margin-right: 15px;
  
}
#purchase, #timeToReady{
    display: inline;
    
}
#timeToReady{
    text-align: right;
}